{% load render_table from django_tables2 %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Routes</title>
</head>
<body>

  {% render_table table %}
  {% comment %} <table border = 2>
    <thead>
      <tr>
        <td>
          Route name
        </td>
        <td>
          Route Number
        </td>
        <td>
          No of buses running on this route
        </td>
      <tr>
    </thead>
     <tbody>
      {% for route in routes %}
      <tr>
        <td>{{route.route}}</td>
        <td>{{route.route_number}}</td>
        {% if  route.num_of_bus_run_this_route == 0%}
           <td>No bus assign on this route</td>
        {% else %}
          <td>{{route.num_of_bus_run_this_route}}<td>
        {% endif %}

      </tr>  
      {% endfor %}
      
     
    </tbody> 
  </table> {% endcomment %}

 
</body>
</html>